@import "../../../styles.scss";
@import "../../../styles/tipography.scss";
@import "../../../styles/elements.scss";
@import "../../../styles/mixins.scss";
.help-center-area {
  gap: 4rem;
  text-align: center;
  & .cards-wrapper-helpcenter {
    @include alignment(space-between, stretch);
  }
  & a {
    @include alignment(flex-start, center);
    gap: 1.2rem;
    align-self: center;
    font-family: "Lato";
    color: $secondary-color;
    font-size: 2rem;
  }
}
