<section class="help-center-area flex-col">
  <h2 class="heading-section-h2">
    Find the answers to anything <br />
    you need in our Help Center
  </h2>
  <div class="cards-wrapper-helpcenter">
    @for (card of cards; track card) {
    <section class="answer-card flex-col">
      <h5>{{ card.textContent }}</h5>
      <button class="arrow-btn">
        <img src="{{ card.arrowIcon }}" />
      </button>
    </section>
    }
  </div>
  <a>More questions <img src="{{ arrowIconPath }}" /> </a>
</section>
