<section class="our-spaces-area flex-col">
  <div class="heading-our-spaces">
    <h2 class="heading-section-h2">Our Spaces</h2>
    <p>
      Our space is designed to give you a different experience when working with
      your team or personally
    </p>
    <div class="arrow-wrapper">
      @for (arrow of arrows; track arrow) {
      <img src="{{ arrow }}" />
      }
    </div>
  </div>
  <div class="spaces-carousel">
    @for (cardItem of spacesCard; track cardItem){

    <div class="card-space flex-col">
      <figure>
        <img src="{{ cardItem.path }}" alt="" />
      </figure>
      @if (cardItem.maskImgPath){
      <img src="../../../../assets/mask-group.svg" class="mask-group-img" />
      <div class="text-information flex-col">
        <h4>Private Space</h4>
        <p>
          Comfortable space, Full speed wifi, Free coffe & Snack and many more
        </p>
      </div>
      <button class="check-btn">
        Check avaibility
        <img src="../../../../assets/arrow-btn.svg" />
      </button>
      } @else {

      <button>
        <img src="../../../../assets/arrow-btn.svg" />
      </button>

      <figcaption>{{ cardItem.figcaption }}</figcaption>
      }
    </div>
    }
  </div>
  <div class="wrapper-bar-carousel flex-col">
    <div class="bar">
      <div class="fill-bar"></div>
    </div>
    <p class="data-bar">01<span>/04</span></p>
  </div>
</section>
