<section class="our-spaces-area">
  <div class="heading-our-spaces">
    <h2>Our Spaces</h2>
    <p>
      Our space is designed to give you a different experience when working with
      your team or personally
    </p>
    <div class="arrow-wrapper">
      <img src="../../../../assets/left-arrow.svg" />
      <img src="../../../../assets/right-arrow.svg" />
    </div>
  </div>
  <div class="spaces-carousel">
    <app-space-card
      contentImg="../../../../assets/space-card-1.png"
      type="card-space-img"
      figcaption="Working with team"
    />
    <app-space-card type="card-space-standard" />
    <app-space-card
      contentImg="../../../../assets/space-card-2.png"
      type="card-space-img"
      figcaption="Custom Office"
    />
  </div>
  <div class="wrapper-bar-carousel">
    <div class="bar">
      <div class="fill-bar"></div>
    </div>
    <p>01<span>/04</span></p>
  </div>
</section>
