<section class="our-spaces-area flex-col">
  <div class="heading-our-spaces">
    <h2 class="heading-section-h2">Our Spaces</h2>
    <p>
      Our space is designed to give you a different experience when working with
      your team or personally
    </p>
    <div class="arrow-wrapper">
      @for (arrow of arrows; track arrow) {
      <img src="{{ arrow }}" />
      }
    </div>
  </div>
  <div class="spaces-carousel">
    @for (cardItem of spacesCard; track cardItem){

    <app-space-card [properties]="cardItem" />
    }
  </div>
  <div class="wrapper-bar-carousel flex-col">
    <div class="bar">
      <div class="fill-bar"></div>
    </div>
    <p>01<span>/04</span></p>
  </div>
</section>
