@import "../../../styles.scss";
@import "../../../styles/tipography.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/elements.scss";

.our-spaces-area {
  padding: 6rem;
  gap: 3.2rem;

  & .heading-our-spaces {
    @include flex-justify-align(center, space-between);
    & p {
      color: $gray-1;
      font-size: 1.8rem;
      width: 27%;
      font-family: "Lato";
    }
  }

  & .spaces-carousel {
    @include justifying(space-between);
  }

  & .wrapper-bar-carousel {
    @include flex-justify-align(center, center);

    gap: 1.2rem;

    & .bar {
      @include progress-bar(row, 20%, $gray-3, relative, 1);
    }
    & .fill-bar {
      @include progress-bar(row, 25%, $secondary-color-120, absolute, 3);
    }
    & p {
      font-size: 1.6rem;
    }
    & span {
      font-family: "Lato";
      font-size: 1.2rem;
      color: $gray-1;
    }
  }
}
