@import "../../../styles.scss";

.card-review-section {
  background-color: $primary-color;
  width: 44rem;
  height: 40rem;
  color: $white-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 2.4rem;
  & p {
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: "Lato";
  }
  & .user-infos-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    gap: 2rem;
    & .user-infos p:first-child {
      font-weight: 700;
    }
  }
}
