@import "../../../styles.scss";
@import "../../../styles/tipography.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/elements.scss";

.facilities-area {
  justify-content: center;
  gap: 4rem;

  & .facilities-section {
    gap: 2rem;
    & .facilities-heading {
      @include alignment(flex-start, center);
      gap: 1.2rem;
      & .divider {
        @include divisor($black-color);
      }
    }
  }

  & .facilities-main-content {
    @include alignment(space-between, stretch);
    & .wrapper-bar-navigation {
      display: flex;
      gap: 4.4rem;
      align-items: center;
      width: 40%;

      & .vertical-bar {
        @include progress-bar(column, 0.5rem, $gray-3, relative, 1);
        & .fill-bar {
          @include progress-bar(column, inherit, $secondary-color, absolute, 3);
          height: 25%;
        }
      }
      & .data-bar {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        color: $primary-color;
        font-size: 1.8rem;
        font-family: "Lato";
        margin: 0.5rem -0.7rem;
        & span {
          font-size: 1.6rem;
          color: $gray-1;
        }
      }

      & .facilities-nav ul {
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        & li {
          font-family: "Lato";
          font-size: 2.4rem;
          font-weight: 700;
        }
      }
    }

    & figure {
      width: 50%;
      & img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
