<section class="facilities-area flex-col">
  <section class="facilities-section flex-col">
    <div class="facilities-heading">
      <h3 class="heading-section-h3">Our Facilities</h3>
      <div class="divider"></div>
    </div>
    <h2 class="heading-section-h2">
      All facilities are designed to <br />
      meet all your needs
    </h2>
  </section>
  <section class="facilities-main-content">
    <div class="wrapper-bar-navigation">
      <div class="wrapper-progress-bar flex-col">
        <div class="vertical-bar">
          <div class="fill-bar"></div>
        </div>
        <p class="data-bar">01<span>/04</span></p>
      </div>
      <nav class="facilities-nav">
        <ul>
          @for (facility of facilitiesList; track facility) {
          <li>{{ facility }}</li>
          }
        </ul>
      </nav>
    </div>
    <figure>
      <img src="../../../../assets/cozy-cafe.png" alt="Ambiente de Cafeteria" />
    </figure>
  </section>
</section>
