@import "../../../styles.scss";

.reviews-area {
  gap: 4rem;
  & .wrapper-section {
    @include flex-justify-align(center, space-between);

    & .wrapper-heading {
      @include alignment(baseline);
      align-items: baseline;
      gap: 1.2rem;
      & .review-heading {
        @include alignment(center);
        gap: 1.2rem;
        & .divider {
          @include divisor($black-color);
        }
      }
    }
    & .arrow-wrapper img {
      height: 2rem;
    }
  }
  & .carousel-reviews {
    gap: 4rem;
    & .wrapper-carousel-reviews {
      @include justifying(space-between);
      gap: 2.4rem;
    }
    & .wrapper-bar-carousel {
      @include flex-justify-align(center, center);
      gap: 1.2rem;

      & .bar {
        @include progress-bar(row, 20%, $gray-3, 1, relative);
      }
      & .fill-bar {
        @include progress-bar(row, 25%, $secondary-color-120, 3, absolute);
      }
    }
  }
}
