@import "../../../styles.scss";
@import "../../../styles/tipography.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/elements.scss";

.reviews-area {
  gap: 4rem;
  & .wrapper-section {
    @include alignment(space-between, center);

    & .wrapper-heading {
      align-items: baseline;
      gap: 1.2rem;
      & .review-heading {
        @include alignment(flex-start, center);
        gap: 1.2rem;
        & .divider {
          @include divisor($black-color);
        }
      }
    }
    & .arrow-wrapper img {
      height: 2rem;
    }
  }
  & .carousel-reviews {
    gap: 4rem;
    & .wrapper-carousel-reviews {
      @include alignment(space-between, stretch);
      gap: 2.4rem;
    }
    & .wrapper-bar-carousel {
      @include alignment(center, center);
      gap: 1.2rem;

      & .bar {
        @include progress-bar(row, 20%, $gray-3, 1, relative);
      }
      & .fill-bar {
        @include progress-bar(row, 25%, $secondary-color-120, 3, absolute);
      }
    }
  }
}
