<section class="reviews-area flex-col">
  <div class="wrapper-section">
    <div class="wrapper-heading flex-col">
      <div class="review-heading">
        <h3 class="heading-section-h3">Reviews</h3>
        <div class="divider"></div>
      </div>
      <h2 class="heading-section-h2">
        What our customers <br />
        are saying
      </h2>
    </div>
    <div class="arrow-wrapper">
      @for (arrow of arrows; track arrow) {
      <img src="{{ arrow }}" />
      }
    </div>
  </div>
  <div class="carousel-reviews flex-col">
    <div class="wrapper-carousel-reviews">
      @for (review of reviews; track review) {
      <app-review-card [reviewInfos]="review" />
      }
    </div>
    <div class="wrapper-bar-carousel flex-col">
      <div class="bar">
        <div class="fill-bar"></div>
      </div>
    </div>
  </div>
</section>
