$primary-color: #10375c;
$secondary-color: #ff5722;
$primary-color-120: #0d2c4a;
$secondary-color-120: #dd2c00;
$black-color: #222831;
$white-color: #ffffff;
$gray-1: #9a9a9a;
$gray-2: #c4c4c4;
$gray-3: #dfdfdf;
$gray-4: #f8f8f8;
