//elements mixins
@mixin divisor($color) {
  width: 6rem;
  height: 0.2rem;
  background-color: $color;
}

@mixin progress-bar($direction, $width, $bg-color, $position, $axis) {
  border-radius: 2rem;
  height: 0.5rem;
  width: $width;
  background-color: $bg-color;
  position: $position;
  display: flex;
  z-index: $axis;
  flex-direction: $direction;
  //height condition
  @if $direction != row {
    height: 16rem;
  }
}

@mixin justifying($justifying) {
  display: flex;
  justify-content: $justifying;
}
@mixin alignment($align) {
  display: flex;
  align-items: $align;
}
@mixin flex-justify-align($align, $justifying) {
  @include alignment($align);
  justify-content: $justifying;
}
