@import "./colors.scss";

$lora: "Lora";
$lato: "Lato";
$pfDisplay: "Playfair Display";

h1 {
  font-family: $lora;
}

h2 {
  font-family: $lora;
  color: $primary-color;
  font-size: 4rem;
}

h3 {
  font-family: $lato;
  font-size: 2.4rem;
  font-weight: 400;
}

h4 {
  font-family: $lato;
}

h5 {
  font-family: $lora;
  font-weight: 400;
  font-size: 2.8rem;
}

h6 {
  font-family: $lora;
  font-size: 3.2rem;
}

p,
li,
span {
  font-family: $lato;
}

button {
  font-family: $lato;
  font-weight: 700;
  font-size: 1.2rem;
}

.data-bar {
  font-family: $lato;
  font-size: 1.8rem;
  color: $primary-color;
  span {
    font-size: 1.6rem;
    color: $gray-1;
  }
}

a {
  font-family: $lato;
}

figcaption {
  font-family: $lato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:focus {
    outline: 0.2rem dashed $secondary-color-120;
  }
}

p {
  &:hover {
    opacity: 0.9;
  }
  &:focus {
    border: 0.2rem solid $secondary-color-120;
  }
}

a {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:focus {
    outline: 0.2rem solid $secondary-color-120;
  }
  &:visited {
    color: purple;
  }
}

figcaption {
  &:hover {
    opacity: 0.7;
  }
  &:focus {
    outline: 0.1rem solid $gray-1;
  }
}

li {
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    border: 0.1rem dashed grey;
  }
}

button {
  &:hover {
    scale: 1.01;
    cursor: pointer;
    transition: 0.3s ease;
  }

  &:focus {
    outline: 0.2rem solid $primary-color;
  }

  &:disabled {
    background-color: $gray-1;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.error {
    border: 0.2rem solid $secondary-color-120;
    background-color: lighten($secondary-color-120, 40%);
  }
}
