<section class="main-banner-section">
  <section class="section-intro flex-col">
    <div class="section-heading">
      <h3 class="heading-section-h3">Introducing</h3>
      <div class="divider"></div>
    </div>
    <div class="heading-infos">
      <h1>
        Revolutionary <span>co-working space to realize your innovation</span>
      </h1>
      <p>
        In frispes, we spearhead new initiatives and provide mentorship to a new
        startup, and help grow their opportunities in key local, regional and
        global markets
      </p>
    </div>
  </section>
  <section class="section-image-form">
    <div class="form-area flex-col">
      <form class="flex-col">
        <h2>Find your space now</h2>
        @for (select of selectInputsValues; track select){
        <app-select-input [selectValues]="select" />
        }
        <app-button
          textContent="FIND MY SPACE"
          type="contained-form contained"
        />
      </form>
    </div>
    <figure>
      <img
        src="../../../../assets/Image Slider.png"
        alt="Imagem de um espaço bem iluminado com mesas e cadeiras brancas, contendo algumas plantas"
      />
    </figure>
  </section>
</section>
