<section class="main-banner-section">
  <section class="section-intro">
    <div class="section-heading">
      <h3>Introducing</h3>
      <div class="divider"></div>
    </div>
    <div class="heading-infos">
      <h1>
        Revolutionary <span>co-working space to realize your innovation</span>
      </h1>
      <p>
        In frispes, we spearhead new initiatives and provide mentorship to a new
        startup, and help grow their opportunities in key local, regional and
        global markets
      </p>
    </div>
  </section>
  <section class="section-image-form">
    <div class="form-area">
      <form>
        <h2>Find your space now</h2>
        <app-select-input
          [options]="location.options"
          label="Location"
        ></app-select-input>
        <app-select-input
          [options]="['Private Office', 'Public Office']"
          label="Type"
        ></app-select-input>
        <app-select-input
          [options]="['9 Aug 2024', '8 Jul 2024']"
          label="Date"
        ></app-select-input>
        <app-button
          textContent="FIND MY SPACE"
          type="contained-form contained"
        ></app-button>
      </form>
    </div>
    <figure>
      <img
        src="../../../../assets/Image Slider.png"
        alt="Imagem de um espaço bem iluminado com mesas e cadeiras brancas, contendo algumas plantas"
      />
    </figure>
  </section>
</section>
