@import "../../../styles.scss";
@import "../../../styles/tipography.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/elements.scss";
@import "../../../styles/colors.scss";

.main-banner-section {
  padding: 0 2rem;

  & .section-heading {
    @include alignment(center);
    gap: 2rem;
    & .divider {
      @include divisor($black-color);
    }
  }
  & .heading-infos {
    @include justifying(space-between);

    & h1 {
      font-size: 5.2rem;
      width: 40%;

      & span {
        color: $primary-color;
        font-size: 5.2rem;
      }
    }
    & p {
      font-size: 2rem;
      width: 30%;
      color: #6a6a6a;
    }
  }
  & .section-image-form {
    @include justifying(space-between);
    width: 100%;
    position: relative;
    & .form-area {
      @include flex-justify-align(center, center);
      background-color: $primary-color;
      width: 25%;
      height: 80%;
      position: absolute;
      margin: 4% 0 0 15%;
      gap: 1rem;
      & form {
        gap: 1rem;
        padding: 3.2rem;
        h6 {
          font-size: 3.5rem;
          color: $white-color;
        }
      }
    }
    & figure {
      width: 70%;
      height: 57rem;
      margin-left: calc(100% - 70%);
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
