@import "../../../styles.scss";

.help-center-area {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  & h3 {
    font-family: "Lora";
    color: $primary-color;
    font-size: 4rem;
    text-align: center;
  }
  & a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    align-self: center;
    font-family: "Lato";
    color: $secondary-color;
    font-size: 2rem;
  }
}

.cards-wrapper-helpcenter {
  display: flex;
  justify-content: space-between;
}
