<section class="help-center-area">
  <h3>
    Find the answers to anything <br />
    you need in our Help Center
  </h3>
  <div class="cards-wrapper-helpcenter">
    <app-card-helpcenter
      [variant]="{
        theme: 'white',
        textContent: 'How do I know if a space is available?',
        arrowIcon: '../../../assets/white-down-arrow.svg'
      }"
    ></app-card-helpcenter>
    <app-card-helpcenter
      [variant]="{
        theme: 'orange',
        textContent: 'How do i book a space?',
        arrowIcon: '../../../assets/orange-down-arrow.svg'
      }"
    ></app-card-helpcenter>
    <app-card-helpcenter
      [variant]="{
        theme: 'white',
        textContent: 'How do reviews work?',
        arrowIcon: '../../../assets/white-down-arrow.svg'
      }"
    ></app-card-helpcenter>
  </div>
  <a>More questions <img src="../../../assets/orange-arrow-right.svg" /> </a>
</section>
