@import "../../../../../styles.scss";
@import "../../../../../styles/elements.scss";
@import "../../../../../styles/mixins.scss";

.card-review-section {
  @include alignment(space-around, center);
  background-color: $primary-color;
  width: 44rem;
  height: 40rem;
  color: $white-color;
  padding: 0 2.4rem;
  & p {
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: "Lato";
  }
  & .user-infos-wrapper {
    @include alignment(space-between, center);
    align-self: flex-start;
    gap: 2rem;
    & .user-infos p:first-child {
      font-weight: 700;
    }
  }
}
