<section class="who-uses-area">
  <div class="heading-who-uses">
    <h2>Who uses Frispes?</h2>
    <p>Big brands, small bussiness, new startuo and inividuals</p>
  </div>
  <div class="brands-wrapper">
    <ul>
      <li><img src="../../../../assets/google.svg" /></li>
      <li><img src="../../../../assets/tokopedia.svg" /></li>
      <li><img src="../../../../assets/upwork.svg" /></li>
      <li><img src="../../../../assets/microsoft.svg" /></li>
      <li><img src="../../../../assets/shopify.svg" /></li>
      <li><img src="../../../../assets/stripe.svg" /></li>
    </ul>
  </div>
</section>
