@import "../../../styles.scss";

.who-uses-area {
  @include alignment(center);
  & .heading-who-uses {
    gap: 1.6rem;
    & p {
      color: $gray-1;
      font-size: 1.8rem;
      margin: 2.4rem 0;
    }
  }
  & .brands-wrapper {
    width: 100%;
    margin-top: 2rem;
    & ul {
      @include justifying(space-around);
    }
  }
}
