@import "../../../styles.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/tipography.scss";
@import "../../../styles/colors.scss";
.about-area {
  @include flex-justify-align(center, space-around);
  & .grade-infos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 10rem;
  }
  & .wrapper-text-info {
    padding: 8rem 4rem 8rem 8rem;
    background-color: $primary-color;
    width: 40%;
    color: $white-color;
    gap: 2rem;

    & .heading-about {
      @include alignment(center);
      gap: 1.6rem;

      & h4 {
        font-size: 2.2rem;
        font-weight: 400;
      }
      & .divider {
        @include divisor($white-color);
      }
    }
    & h2 {
      color: $white-color;
    }
    & p {
      font-size: 2rem;
      width: 70%;
    }
  }
}
