@import "../../../../../styles.scss";
@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/colors.scss";
.info-card-wrapper {
  @include alignment(center);
  gap: 1.6rem;
  & h5 {
    font-size: 2.8rem;
    color: $primary-color;
  }
  & p {
    color: $gray-1;
    font-size: 1.6rem;
  }
}
