<div [ngClass]="['card-space', properties.type, 'flex-align-justify-center']">
  <figure>
    @if (properties.type == 'card-space-img') {
    <img src="{{ properties.path }}" alt="" />
    } @else {
    <img src="../../../../assets/mask-group.svg" class="mask-group-img" />

    <div class="text-information flex-col">
      <h4>Private Space</h4>
      <p>
        Comfortable space, Full speed wifi, Free coffe & Snack and many more
      </p>
    </div>
    } @if (properties.type == 'card-space-img'){
    <button>
      <img src="../../../../assets/arrow-btn.svg" />
    </button>
    } @else {
    <button class="check-btn">
      Check avaibility
      <img src="../../../../assets/arrow-btn.svg" />
    </button>
    }
  </figure>
  @if(properties.figcaption) {
  <figcaption>{{ properties.figcaption }}</figcaption>
  }
</div>
