@import "../../../../../styles.scss";
@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/elements.scss";

.card-space {
  position: relative;

  & .mask-group-img {
    position: absolute;
    right: 5%;
    top: 5%;
  }

  & button {
    @include alignment(center);
    background-color: $secondary-color;
    border: none;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: calc(0% + 2.7rem);

    color: $white-color;
    font-size: 2rem;
    font-family: "Lato";
  }

  & figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Lato";
  }
}

.card-space-standard {
  @include flex-justify-align(center, center);
  background-color: rgba(16, 55, 92, 30);
  width: 35rem;
  height: 46rem;

  & .text-information {
    @include alignment(center);
    gap: 1rem;
    color: $white-color;
  }
  & h4 {
    font-family: "Playfair Display";
    font-weight: 100;
    font-size: 3.2rem;
  }
  & p {
    font-family: "Lato";
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
  }
}
