<section class="frispes-gallery">
  <div class="wrapper-carousel">
    <div class="heading-carousel">
      <h2>Frispes gallery</h2>
      <div class="divider"></div>
    </div>
    <h3>
      Immersive beautiful <br />
      co-working space gallery
    </h3>
    <div class="arrow-wrapper">
      <img src="../../../../assets/left-arrow.svg" />
      <img src="../../../../assets/right-arrow.svg" />
    </div>
  </div>
  <div class="wrapper-gallery">
    @for (image of gallery; track image) {
    <img src="{{ image.path }}" alt="{{ image.alt }}" />
    }
  </div>
</section>
