<section class="frispes-gallery flex-col">
  <div class="wrapper-carousel flex-col">
    <div class="heading-carousel">
      <h3 class="heading-section-h3">Frispes gallery</h3>
      <div class="divider"></div>
    </div>
    <h2 class="heading-section-h2">
      Immersive beautiful <br />
      co-working space gallery
    </h2>
    <div class="arrow-wrapper">
      @for (arrow of arrows; track arrow) {
      <img src="{{ arrow }}" />
      }
    </div>
  </div>
  <div class="wrapper-gallery">
    @for (image of gallery; track image) {
    <img src="{{ image.path }}" alt="{{ image.alt }}" />
    }
  </div>
</section>
