@import "../../../styles.scss";
@import "../../../styles/tipography.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/elements.scss";

.frispes-gallery {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  & .wrapper-carousel {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    width: 40%;
    & .heading-carousel {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      & .divider {
        @include divisor($black-color);
      }
    }
  }
  & .wrapper-gallery {
    @include alignment(space-around, last baseline);
    height: 35rem;
    gap: 4rem;
  }
}
