@import "../../../styles.scss";
@import "../../../styles/elements.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/tipography.scss";
.news-section {
  background-color: $gray-4;
  gap: 4rem;
  margin: 0 -3.6rem;
  padding: 3.6rem;

  & .heading-news {
    @include alignment(space-between, center);
    & a {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      align-self: center;
      font-family: "Lato";
      color: $secondary-color;
      font-size: 2rem;
    }
  }
  & .grid-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 3rem;
    & > *:first-child {
      grid-column: span 2;
    }
  }
}
