@import "../../../styles.scss";
.news-section {
  background-color: $gray-4;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 -3.6rem;
  padding: 3.6rem;

  & .heading-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h3 {
      font-family: "Lora";
      color: $primary-color;
      font-size: 4rem;
    }
    & a {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      align-self: center;
      font-family: "Lato";
      color: $secondary-color;
      font-size: 2rem;
    }
  }
  & .grid-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 3rem;
    & > *:first-child {
      grid-column: span 2;
    }
  }
}
