$primary-color: #10375C;
$secondary-color: #FF5722;
$primary-color-120: #0D2C4A;
$secondary-color-120: #DD2C00;
$black-color:#222831;
$white-color:#ffffff;
$gray-1:#9A9A9A;
$gray-2:#C4C4C4;
$gray3:#DFDFDF;
$gray-4:#F8F8F8;
$pf-display-bold: 'Playfair Display';

$heading2: 40px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Lato';
  font-size: 62.5%;
}

.app {
  width: 100vw;
  height: 100vh;
}